.homepage img{
   
  width: 100%;
  
}
.topbrand{
  display: flex;
  width: 400%;
  animation: linearScroll 8s steps(4) infinite; 
   
}
.topbrand img{
  height: 25vw;
}
.homepage{
  width: 100vw;
  overflow: hidden;

}
 
@keyframes linearScroll {
  0% {
    transform: translateX(0%); /* Start at the first image */
  }
  25% {
    transform: translateX(-100%); /* Move to the second image */
  }
  50% {
    transform: translateX(-100%); /* Move to the third image */
  }
  75% {
    transform: translateX(-100%); /* Move to the fourth image */
  }
  100% {
    transform: translateX(0%); /* Loop back to the first image */
  }
}

.homepage pre{
  width: 100vw;
  margin: 40px 10px;
   text-wrap: wrap;
  font-size: 1.5rem;
  text-decoration: underline;
  text-shadow:1px 1px 4px rgb(111, 110, 110);
  
}
.medalbrand{
  display: flex;
flex-wrap: nowrap;
width: fit-content;
animation: stepScroll 12s  infinite ease-in-out ; 
}

.globalbrand{
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  animation: stepScroll 12s  infinite ease-in-out; 
}
@keyframes stepScroll {
  0% { transform: translateX(0%); }
  25% { transform: translateX(-20%); }
  50% { transform: translateX(-40%); }
  75% { transform: translateX(-63%); }
  100% { transform: translateX(0%); }
}

.categorybrand{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
   
}
 