.homepage img{
   
  width: 100%;
  
}
.topbrand{
  display: flex;
  width: 400%;
  animation: linearScroll 16s ease-in-out  infinite; 
   
}
.topbrand img{
  height: 25vw;
  min-width: 100vw;
  max-width: 100vw;
}
.homepage{
  width: 100vw;
  overflow: hidden;

}
 
@keyframes linearScroll {
  0% {
    transform: translateX(0vw);  
  }
  25% {
    transform: translateX(-100vw);  
  }
  50% {
    transform: translateX(-200vw);  
  }
  75% {
    transform: translateX(-300vw); 
  }
  100% {
    transform: translateX(0vw);  
  }
}

.homepage pre{
  width: 100vw;
  margin: 40px 10px;
   text-wrap: wrap;
  font-size: 1.5rem;
  text-decoration: underline;
  text-shadow:1px 1px 4px rgb(111, 110, 110);
  
}
.medalbrand{
  display: flex;
flex-wrap: nowrap;
width: fit-content;
animation: stepScroll 12s  infinite ease-in-out ; 
}

.globalbrand{
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  animation: stepScroll 12s  infinite ease-in-out; 
}
@keyframes stepScroll {
  0% { transform: translateX(0%); }
  30% { transform: translateX(-10%); }
  65% { transform: translateX(-25%); }
  100% { transform: translateX(0%); }
}

.categorybrand{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  /* background-color: antiquewhite; */
  
   
}

.categorybrand div{
  border: 3px solid beige;
  padding: 4px ;
  box-shadow: 1px 1px 10px rgb(124, 124, 124);
  height: fit-content;
}
 